@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: black;
}

ul {
  list-style: none;
}

header {
  background-color: greenyellow;
}

.titulo {
  font-size: 2em;
}

.imagen {
  margin-left: 20px;
}

.contenidoPrincipal {
  background-color: rgb(0, 255, 149);
  height: 600px;
}

.contenidoSecundario {
  background-color: rgba(0, 0, 0, 0.308);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  gap: 20px;
}

article>p {
  font-size: 1.3em;
  width: 40%;
  margin-left: 10px;
  line-height: 1.5em;
}

article>h2 {
  color: red;
  font-weight: 800;
}

.card-body {
  text-align: center;
}

.cartas {
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  gap: 30px;
  height: 500px;

}

.card-img-top {
  height: 300px;
}

.card {
  transition: 0.5s;
  width: calc(25vw - 30px);
  height: 450px !important;
}

.card:hover {
  transform: scale(1.1);

}

body {
  margin: 0;
}

.sect {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

#sect1 {
  background-color: #333333cc;
  color: #fff;
  height: 700px;
  gap: 20px;
  position: relative;
  overflow: hidden;

}

#sect1>p {
  font-size: 1.5em;
  width: 40%;
  margin-left: 20px;
  line-height: 2em;
  color: white;
}

video {
  position: absolute;
  top: -150px;
  width: 100%;
  z-index: -1;
}

h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 1em;
  padding-left: 2rem;
}

.seleccion {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 40px;
  font-size: 1.5em;
  height: 500px;
}

.order-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

input {
  overflow: hidden;
  width: 100%;
  border-color: black;
  border-radius: 1px;

}

#informacion {
  margin-top: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

button {
  border-style: none;
  background-color: unset;
}

.btn {
  width: 50%;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.90);
  color: white;
  transition: 1s all;
}